## Identifiers
* Name known for variables, functions, objects, etc
* Start with underscore,uppercase or lowercase
* case sensitive
* Ex: x=10

## Keywords
* Reserved words
* Not used as identifiers
* Ex: if, else, for

## Variable  
* Syntax: var_name = literal_value
* Ex: weight = 10

## Data Types
* int - 123 (limited)
* long - 12313246666666666687
* float - 132.25 (limited)
* double - 1233464.468744646
* char - 'A' (single character)
* string - "Hello" 
* boolean - True (1) or False (0)

### Variable Casting

In [1]:
print("int to str")
var1 = 3
print(str(var1))
print(type(var1))

print("str to int")
var2 = '4'
print(int(var2))
print(type(var2))

print("float to str")
var3 = 2.5
print(str(var3))
print(type(var3))

print("str to float")
var4 = '2.6'
print(float(var4))
print(type(var4))

print("float to int")
var5 = 2.5
print(int(var5))
print(type(var5))

print("str to int")
var6 = 'A'
print(int(var6))

int to str
3
<class 'int'>
str to int
4
<class 'str'>
float to str
2.5
<class 'float'>
str to float
2.6
<class 'str'>
float to int
2
<class 'float'>
str to int

ValueError: invalid literal for int() with base 10: 'A'

# variable & data type
num = 65
print(num, type(num))

char = 'A'
print(char,type(char))

### Boolean

1. String, tuples, list, dict are false only when these are empty
2. For digits - 0 is false any other number is true

In [4]:
print("DigitEx1")
num1 = 0
if num1:
    print("Yes")
else:
    print("No")


print("DigitEx2")
num1 = 10
if num1:
    print("Yes")
else:
    print("No")

DigitEx1
No
DigitEx2
Yes

In [5]:
print("StringEx1")
str = ""
if str:
    print("yes")
else:
    print("no")
    

print("StringEx2")
str1 = "atsfsvs"
if str1:
    print("yes")
else:
    print("no")

StringEx1
no
StringEx2
yes

In [6]:
#any function
print("any function")
item1 = True
item2 = False

print(any([item1,item2]))

#all function
print("all function")
print(all([item1,item2]))

any function
True
all function
False

#### Complex  numbers

In [7]:
num1 = 1+2j
num2 = complex(1,2)

print(num2.real, num2.imag)

1.0 2.0

## input() function
* function used to read an input from  the user
* syntax: input_var=input("please enter the value")

In [8]:
input_var=input("please enter the value ")
print(input_var)

please enter the value

## print() function
* Syntax: print(var_name1, var_name2, ...., [end="value1", sep="value2"])
* end - specify the separator between two print statements which is '\n' by default
* sep - specify the separator between multiple variables

In [9]:
a="infy"
b=20.127
c=10
print(a,b,c)
print(a,b,c,sep=":")
print(a,b,c,end=" ")
print("b=%0.2f" %b) #as the format is 0.2 value is rounded of two decimal digits
print("c=%8d" %c) #right aligned within the reserved 8 spaces
print("c=%-8d" %c) #left aligned within the reserved 8 spaces as there is - symbol

infy 20.127 10
infy:20.127:10
infy 20.127 10 b=20.13
c=      10
c=10

### Buil-in functions

In [10]:
print("1. abs - used to get absolute value")
print(abs(-5))
print(abs(6))

print("2. round - used to round decimal points")
print(round(5.555555, 3))
print(round(56.55546764168146, 0))

1. abs - used to get absolute value
5
6
2. round - used to round decimal points
5.556
57.0

In [11]:
#ENUM functions

from enum import Enum

class State(Enum):
    
    Inactive = 0
    active = 1
    
print(State.active.value)

print(State(0))

print(State['Inactive'].value)

print(len(State))

1
State.Inactive
0
2

## Operators
* Arithmetic : +,-,/,*,% (Remainder/modulo),// (integer division), ** (square)
* Relational operators : == (Equality check), != (Not equal), >, <, >=, <=
* Assignment operators : =, += (SHAOf additon), -= (SHAOf substraction), *= (SHAOf multiplication), /= (SHAOf division), %= (SHAOf modulo)
* Logical operators : AND (TT = T o.w. false), OR (FF = F o.w. True), NOT (negation)

### OR operator

* OR operator returns first value if it is not false o.w. it returns second value

### AND operator

* AND operator returns first value if it false o.w. it returns second value

### Bitwise operators

1. | &	Bitwise AND	Result bit 1,if both operand bits are 1;otherwise results bit 0.	x & y
2. | |	Bitwise OR	Result bit 1,if any of the operand bit is 1; otherwise results bit 0.	x | y
3. | ~	Bitwise NOT	inverts individual bits	~x
4. | ^	Bitwise XOR	Results bit 1,if any of the operand bit is 1 but not both, otherwise results bit 0. x ^ y
5. | >>	Bitwise right shift	The left operand’s value is moved toward right by the number of bits specified by the right operand. x>>
6. | <<	Bitwise left shift	The left operand’s value is moved toward left by the number of bits specified by the right operand. x<<

### is and in operator

In [12]:
x = '5'

print(x is not '5')

x = [1,2,3]

print(2 in x)

False
True

<>:3: SyntaxWarning: "is not" with a literal. Did you mean "!="?
<>:3: SyntaxWarning: "is not" with a literal. Did you mean "!="?
C:\Users\Shrinath\AppData\Local\Temp\ipykernel_13412\2488642201.py:3: SyntaxWarning: "is not" with a literal. Did you mean "!="?
  print(x is not '5')

## Type conversion
* Explicit conversion - datatype(var_name)

In [13]:
num = 10
num_convert = float(num)
print(num_convert)

10.0

## Comment

In [14]:
# used for single line comment... starts with #

In [15]:
# Write Python code here

""" Multi-line comment used
print("Python Comments") """

print("Mathematics")

Mathematics

In [16]:
''' Multi-line comments used 
for documentation purpose '''

print('Multi-line comments')

Multi-line comments

## Control structures

In [17]:
## selection statements
# if statement
a=10
if(a>0):
    print("positive integer")

positive integer

In [18]:
# if else statement
a = 10
if(a>0):
    print("positive integer")
else:
    print("Negative integer")

positive integer

In [19]:
# else if statement
a = 10
if(a>0):
    print("positive integer")
elif(a<0):
    print("negative integer")
else:
    print("integer is 0")

positive integer

In [20]:
# Nested if statement
a = 10
b = 20
c = 30

if(a>b):
    if(a>c):
        print("a is greater")
    else:
        print("c is greater")
elif(b>c):
    print("b is greater")
else:
    print("c is greater")

c is greater

In [3]:
#practice
num = input()
if (int(num)%3==0 and int(num)%5==0): #if number is multiple of 3 & 5, display "Zoom"
    print("Zoom")
elif (int(num)%5==0): #if number is multiple of 5, display "Zap"
    print("Zap")
elif (int(num)%3==0 ): #if number is multiple of 3, diplay "Zip"
    print("Zip")
else:
    print("Invalid")

89
Invalid

In [22]:
## Looping statements
#While loop
'''
While loop is used to execute a piece of code as long as test condition is true
'''

num = 5
count = 1
while count <= num:
    print("the current number is: ", count)
    count+=1

the current number is:  1
the current number is:  2
the current number is:  3
the current number is:  4
the current number is:  5

In [23]:
## for loop
'''
Allows the loop to run over a specific sequence of values
'''

for number in 1,2,3,4,5:
    print("The current number is ", number)

The current number is  1
The current number is  2
The current number is  3
The current number is  4
The current number is  5

In [24]:
## Another variation
start=1
end=10
step=2

for number in range(start, end, step):
    print("The current number is: ", number)

The current number is:  1
The current number is:  3
The current number is:  5
The current number is:  7
The current number is:  9

In [25]:
## Sample code
for number in range(1,5): #start & end
    print("The current number is ", number)
    
print("---------------------------------------------")

for number in range(1,7,2): #step
    print("The current number is ", number)
    
print("---------------------------------------------")

for number in range(5,0,-1): #reverse order
    print("The current number is ", number)

The current number is  1
The current number is  2
The current number is  3
The current number is  4
---------------------------------------------
The current number is  1
The current number is  3
The current number is  5
---------------------------------------------
The current number is  5
The current number is  4
The current number is  3
The current number is  2
The current number is  1

In [26]:
## Nested for loop
Num_Of_Passengers = 5
Num_Of_Baggage = 2
Security_Check = True
for passenger_count in range(1, Num_Of_Passengers+1):
    for baggage_count in range(1, Num_Of_Baggage+1):
        if(Security_Check==True):
            print("Security check of passenger: ", passenger_count, " -- baggage", baggage_count, "baggage cleared")
        else:
            print("Security check of passenger: ", passenger_count, " -- baggage", baggage_count, "baggage not cleared")

Security check of passenger:  1  -- baggage 1 baggage cleared
Security check of passenger:  1  -- baggage 2 baggage cleared
Security check of passenger:  2  -- baggage 1 baggage cleared
Security check of passenger:  2  -- baggage 2 baggage cleared
Security check of passenger:  3  -- baggage 1 baggage cleared
Security check of passenger:  3  -- baggage 2 baggage cleared
Security check of passenger:  4  -- baggage 1 baggage cleared
Security check of passenger:  4  -- baggage 2 baggage cleared
Security check of passenger:  5  -- baggage 1 baggage cleared
Security check of passenger:  5  -- baggage 2 baggage cleared

In [27]:
## Nested while loop
Num_Of_Passengers = 5
Num_Of_Baggage = 2
Security_Check = True
for passenger_count in range(1, Num_Of_Passengers+1):
    baggage_count = 1
    while (baggage_count <= Num_Of_Baggage):
        if(Security_Check==True):
            print("Security check of passenger: ", passenger_count, " -- baggage", baggage_count, "baggage cleared")
        else:
            print("Security check of passenger: ", passenger_count, " -- baggage", baggage_count, "baggage not cleared")
        baggage_count+=1

Security check of passenger:  1  -- baggage 1 baggage cleared
Security check of passenger:  1  -- baggage 2 baggage cleared
Security check of passenger:  2  -- baggage 1 baggage cleared
Security check of passenger:  2  -- baggage 2 baggage cleared
Security check of passenger:  3  -- baggage 1 baggage cleared
Security check of passenger:  3  -- baggage 2 baggage cleared
Security check of passenger:  4  -- baggage 1 baggage cleared
Security check of passenger:  4  -- baggage 2 baggage cleared
Security check of passenger:  5  -- baggage 1 baggage cleared
Security check of passenger:  5  -- baggage 2 baggage cleared

In [28]:
# Sum of digits in a number
num = int(input("Enter the number "))
total = 0
while num > 0:
    x = num%10
    total = total + x
    num=num//10
print(total)

Enter the number

ValueError: invalid literal for int() with base 10: ''

In [29]:
## Looping control statements
# break statement : To stop a loop or break it
# continue statement : to skip the remaining statement in loop and continue with current with next iteration
for passenger in ("A","A","FC","C","FA","SP","A","A"):
    if(passenger=="FC" or passenger=="FA"):
        print("No check required")
        continue
    if(passenger=="SP"):
        print("Declare emergency in the airport")
        break
    if(passenger=="A" or passenger=="C"):
        print("Proceed with normal security check")
    
    print("Check the person")
    print("Check for cabin baggage")

Proceed with normal security check
Check the person
Check for cabin baggage
Proceed with normal security check
Check the person
Check for cabin baggage
No check required
Proceed with normal security check
Check the person
Check for cabin baggage
No check required
Declare emergency in the airport

In [30]:
'''
pass statement : Null statement used to create empty blocks. It results in no-operation and 

the control will move to the next statement
'''

num = 10
count = 0

while(count <= num):
    if(count%2 ==0):
        pass
    else:
        print(count)
    count+=1

1
3
5
7
9

### To check whether the given year is leap year or not

In [31]:
year = int(input("Enter the year: "))
if(year%4==0):
    print("Year is leap year")
else:
    print("Year is not leap year")

Enter the year:

ValueError: invalid literal for int() with base 10: ''

### To find & display the max of 3 given numbers

In [32]:
num1 = int(input("Enter the number: "))
num2 = int(input("Enter the number: "))
num3 = int(input("Enter the number: "))
if(num1>num2):
    if(num1>num3):
        print(num1, " is maximum number")
    else:
        print(num3, " is maximum number")
elif(num2>num3):
    print(num2, " is maximum number")
else:
    print(num3, "is maximum number")

Enter the number:

ValueError: invalid literal for int() with base 10: ''

### To check given number is prime or not

In [33]:
num = int(input("Enter the number "))
if num > 1:
    for n in range (2,num):
        if(num%n)==0:
            print(num, "is not prime")
            break
    else:
          print(num, "is prime")
else:
    print(num, "is not prime")

Enter the number

ValueError: invalid literal for int() with base 10: ''

### First n fibonnaci numbers

In [34]:
n = int(input("Enter the number "))
n1 = 0
n2 = 1
if n < 0:
    print("Invalid input")
elif n == n1:
    print(n1)
elif n == n2:
    print(n2)
else: 
    for i in range(2,n):
        num = n1 + n2
        n1 = n2
        n2 = num
        print(n2)

Enter the number

ValueError: invalid literal for int() with base 10: ''

### Salary hike by job level

In [35]:
current_salary = 40000
job_level = 4
if(job_level == 3):
    new_salary = current_salary + (0.15*current_salary)
elif(job_level==4):
    new_salary = current_salary + (0.07*current_salary)
elif(job_level==5):
    new_salary = current_salary + (0.05*current_salary)
print(new_salary)

42800.0

## Functions
* Set of instructions to perform a specific task
* Syntax: 
          def function_name([arg1,....,argn]):
              #statements
              [return value]
          variable_name = function_name([val1,...,valn])
* values in square bracket are optional
* different values uses returned from a function:
1. def func(arg1):          
       ....                 Returned value is not assigned to any variable.
       ....                 Hence the return value from the function invocation is lost
       return result        
   func(arg1)   
   
2. def func(arg1):          
       ....                 Returned value is assigned to a variable.
       ....                 Hence this can be used in the rest of the program.
       return result        
   res=func(arg1) 

3. def func(arg1):          
       ....                 Returned value is directly printed.
       ....                 
       return result        
   print(func(arg1))   
   
4. def func(arg1):          
       ....                 If returned value from a fucntion is boolena, then the function
       ....                 invocation can be written directly in a conditional statement (if, while, etc)
       return result        
   if(func(arg1)):
      .....

### Function for finding square of number n

In [36]:
def square(n):
    square = n*n
    return square

In [37]:
sq_of_4 = square(4)
print(sq_of_4)

16

### Function to display the sum of n numbers

In [38]:
def sum_first(n):
    sum = 0
    for i in range(1,n+1):
        sum += i
    return sum

In [39]:
sum_first(10)

55

## Arguments passing
1. Pass by value - If the argument passed is immutable --- int, float, string, tuple
2. Pass by reference - If the argument passed is mutable --- list, dictionary, set

In [40]:
def change_val(arg):
    arg += 20
    print('In function, num =',arg)

num = 10
print('Before function call, num =', num)
change_val(num)
print('after function call, num =', num)

Before function call, num = 10
In function, num = 30
after function call, num = 10

Here, we can see that `int` is immutable data type. the actual value does not change after function call. 
It remains as it is.

In [41]:
def change_val(arg):
    arg += [20]
    print('In function, num =',arg)

num = [10]
print('Before function call, num =', num)
change_val(num)
print('after function call, num =', num)

Before function call, num = [10]
In function, num = [10, 20]
after function call, num = [10, 20]

Here, we can see that `list` is mutable data type. the actual value changes after function call.

## Types of argumets
1. **Positional** <br>

    def func(arg1,arg2):                 
        ....             Default of way of specifying arguments. In this, the order, count & type of 
        ....             actual arguments should exactly match that of the formal arguments. 
        return result                      
   res = func(val1,val2)              

2. **Keyword** <br>
    
    def func(arg1,arg2):
         ....                 Allows flexibilty in the order of passing the actual arguments
         ....                 by monitoring the arguments name.
         return result
    res = func(arg1=val1,arg2=val2)

3. **Default**
    
    def func(arg1,arg2=default_value):
        ....                 Allows to specify default value for an argument in the function signature. It is used only when
        ....                 no value is passed for that argument else it works normally. In python default arguments should be 
        return result        last in the order.
    res = func(val1)

4. **variable argument count**
   
   def func(arg1,arg2,*arg3):
       ....                  Allows a function to have variable number of arguments. In python, any argument name starting
       ....                  with * is considered to be a varying length argument. It should be last in the order. It works
       return result         by copying all values beyond that position into a tuple.
       
   res = func(val1,val2,**val3**,**val4**,**val5**)

In [1]:
def display1(flight_number, seating_capacity):
    print("flight number", flight_number)
    print("Seating capacity", seating_capacity)
 
print("code-1: positional arguments")
display1("FN789",200)
#display("300,"FN123") ------Given an error since the order of arguments is not same

def display2(flight_number, seating_capacity):
    print("flight number", flight_number)
    print("Seating capacity", seating_capacity)

print("-------------------------------------------------------------------")
print("code-2: Keyword arguments")
display2(flight_number="FN789",seating_capacity=200)

def display3(flight_number,flight_make="Boeing", seating_capacity=150):
    print("flight number", flight_number)
    print("flight_make", flight_make)
    print("Seating capacity", seating_capacity)

print("-------------------------------------------------------------------")
print("code-2: default arguments")
#display3("FN789","Eagle") ---------Gives an error default argument is present
display3("FN234")

def display4(passenger_name, *baggage_tuple):
    print("passenger name",passenger_name)
    total_wt=0
    for baggage_wt in baggage_tuple:
        total_wt += baggage_wt
    print("Total baggage weight in kg is ", total_wt)

print("-----------------------------------------------------------")
print("code-4: variable argument count")
display4("Jack",12,8,5)
display4("Jack",5,7)

code-1: positional arguments
flight number FN789
Seating capacity 200
-------------------------------------------------------------------
code-2: Keyword arguments
flight number FN789
Seating capacity 200
-------------------------------------------------------------------
code-2: default arguments
flight number FN234
flight_make Boeing
Seating capacity 150
-----------------------------------------------------------
code-4: variable argument count
passenger name Jack
Total baggage weight in kg is  25
passenger name Jack
Total baggage weight in kg is  12

## Variables and scope
* Local variable - Variables created inside the function and accessed only inside that function.
* Global variable -  Variables created outside the function and they can read anywhere in the program.
* Python doees not allow modification of global variable inside a function directly. So global variable is taken as new local variable

In [43]:
wt_limit = 30

def baggage_check(baggage_wt):
    extra_baggage_charge = 0
    if not(baggage_wt>=0 and baggage_wt<-wt_limit):
        extra_baggage=baggage_wt-wt_limit
        extra_baggage_charge=extra_baggage*100
    return extra_baggage_charge

def update_baggage_limit(new_wt_limit):
    wt_limit=new_wt_limit
    print("This airline now allows baggage limit till ",wt_limit," kgs")
    
print("This airline allows baggage limit till ",wt_limit," kgs")
print("Pay the extra baggage charge of ",baggage_check(35)," rupees")
update_baggage_limit(45)
print("Pay the extra baggage charge of ",baggage_check(35)," rupees")

This airline allows baggage limit till  30  kgs
Pay the extra baggage charge of  500  rupees
This airline now allows baggage limit till  45  kgs
Pay the extra baggage charge of  500  rupees

### Nested functions

**If the same variable used in nested functions then put "nonlocal" before the variable name in next function**

In [44]:
def count():
    count = 0
    
    def increment():
        nonlocal count 
        count += 2
        print(count)
        
    increment()
    
count()

2

### Function for factorial

In [45]:
def factorial(n):
    fact=1
    for i in range(1,n+1):
            fact = fact*i
    return fact
f=factorial(5)
print(f)

120

### palindrome function

In [46]:
def is_palindrome(str):
    str_reverse = str[::-1]
    if (str_reverse==str):
        print("yes")
    else:
        print("no")
is_palindrome("131")

yes

In [47]:
def isPalindrome(str):
    return s == s[::-1]

s = "malayalam"
ans = isPalindrome(s)

if ans:
    print("Yes")
else:
    print("No")

Yes

### Amicable numbers

In [48]:
n = 220
sum = 0
for i in range (1,n):
    if n%i==0:
        sum += i
print(sum)

284

In [49]:
def is_amicable(num1,num2):
    sum1=0
    sum2=0
    for i in range(1,num1):
        if num1%i==0:
            sum1+=i
    print(sum1)
    for i in range(1,num2):
        if num2%i==0:
            sum2+=i
    print(sum2)
    if (num1==sum2 and num2==sum1):
        print("yes")
    else:
        print("no")
is_amicable(220,284)

284
220
yes

### Right shift program - Binary operation

In [50]:
def right_shift(num,n):
    after_shift_num=num>>n
    return after_shift_num
res=right_shift(60,2)
print(res)

15

### Strong number program

In [51]:
def strong_num(n):
    fact_total=0
    while n > 0:
        x = n%10
        fact=1
        for i in range(1,x+1):
            fact = fact*i
        fact_total += fact
        n=n//10
    return fact_total

n=145
res=strong_num(n)
print(res)
if(res==n):
    print("yes")
else:
    print("no")

145
yes

In [52]:
n=145
fact_total=0
while n>0:
    x = n%10
    fact=1
    for i in range(1,x+1):
        fact = fact*i
    fact_total += fact
    n=n//10
print(fact_total)

145

## Collections
### 1. List 
* To store group of elements
* square bracket ex. x=[1,2,3,4,5]
* index starts from 0
* indexing - x[0],x[1],etc
* it is mutable

In [3]:
# Creating a list
list1 = [] #Empty list
list2 = ["Mark",5,"Jack",9] #store both homogeneous & heterogeneous elements
print(list2)
list3 = [None]*5 #list with known size and unknown elements
print(list3)
len(list3)

['Mark', 5, 'Jack', 9]
[None, None, None, None, None]

5

In [4]:
##### indexing in list

print(list2[2])

#change elements - mutable

list2[1] = 7
print(list2)

#Adding an element to the end of the list

list2.append("Lex")
print(list2)

#concatenating two lists

list4= [8]
list2+=list4
print(list2)

Jack
['Mark', 7, 'Jack', 9]
['Mark', 7, 'Jack', 9, 'Lex']
['Mark', 7, 'Jack', 9, 'Lex', 8]

In [55]:
#To access elements in a list using loop

list = [1,2,3,4,5]

print("Iterating the list using range()")
for index in range(0,len(list)):
    print(list[index])

print("Iterating the list using keyword in")
for val in list:
    print(val)

Iterating the list using range()
1
2
3
4
5
Iterating the list using keyword in
1
2
3
4
5

In [56]:
#To find the element is present in the list or not

list = [1,2,3,4.5]

val = 2
if val in list:
    print("present")
else:
    print("absent")

present

### List Slicing
* Syntax: List_Name[initial: end : IndexJump]

In [57]:
list = [1,2,3,4,5]

#Display full list using positive index
print("full list - positive index")
print(list[::])

#Display full list using negative index
print("full list - negative index")
print(list[-5::1]) #Negative index starts from -1 (last value) and ends at -n (first value)

#Display first 3 elements
print("first 3 elements")
print(list[0:3])

#Display reverse list
print("reverse list")
print(list[::-1])

full list - positive index
[1, 2, 3, 4, 5]
full list - negative index
[1, 2, 3, 4, 5]
first 3 elements
[1, 2, 3]
reverse list
[5, 4, 3, 2, 1]

### Count of adjacent occurrences

In [58]:

def count(list):
    count = 0
    for i in range(0,len(list)):
        if(list[i-1]==list[i]):
            count += 1
        else:
            count
    print(count)

In [59]:
count([1,1,5,100,-20,-20,6,0,0])

3

In [60]:
count([10,20,30,40,50])

0

In [61]:
count([1,2,2,3,4,4,10])

2

#### List Comprehension
List comprehension offers a shorter syntax when you want to create a new list based on the values of an existing list.

newlist = [expression for item in iterable if condition == True]

In [62]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]

newlist = [x for x in fruits if "a" in x]


print(newlist)

['apple', 'banana', 'mango']

### 2. Tuple
* Values in tuple cannnot be changed - immutable
* Elements can be homogeneous or heterogeneous
* Round brackets ex. tuple = ("A","B","C")

In [63]:
#Creating a tuple
tuple3 = ("A","C","B")
print(tuple)

#Tuple with single element
tuple1 = ("A",) # , comma is necessary for creating tuple o.w. it will be considered as string
tuple2 = ("A")
print(tuple1)
print(type(tuple1))
print(tuple2)
print(type(tuple2))

#to find index of value in tuple
print(tuple3.index("A"))

#to sort the tuple and create new one
print(sorted(tuple3))

#to add tuples
tuple4 = tuple3 + ("E","F")
print(tuple4)

<class 'tuple'>
('A',)
<class 'tuple'>
A
<class 'str'>
0
['A', 'B', 'C']
('A', 'C', 'B', 'E', 'F')

In [64]:
#tuple is immutable
#tuple[0] = "" ## It will give an error - not support item assignment

### 3. Strings
* Values can be alphabetical, numerical, alphanumeric
* Enclosed in single or double inverted quotes ex. 'Alex', "Alex"
* Immutable
* indexing starts from 0

In [65]:
#creating a string
string = "AASS1234PQ"

#Length of string
print("Length of string: ",len(string))

#Concatenating two strings
name1 = "First"
name2 = "Last"
name = name1 + name2
print(name)

print("Iterating the string using keyword in")
for value in string:
    print(value)
    
print("Searching for a character in string")
if "P" in string:
    print("Present")
else:
    print("absent")

#Slicing of string
print(string[5:9])
print(string[-5:-1])

#multiline string

print("""Let's

Enjoy 

D

Party!!!

""")

# Escape character
print("Name\"Name")

Length of string:  10
FirstLast
Iterating the string using keyword in
A
A
S
S
1
2
3
4
P
Q
Searching for a character in string
Present
234P
234P
Let's

Enjoy

D

Party!!!


Name"Name

##### .format() method

In [66]:
str123 = 'My name is {}'
str123.format('Shri')

'My name is Shri'

In [67]:
str234 = 'My {} is {}'
str234.format('Nose','Long')

'My Nose is Long'

In [68]:
str345 = '{2} {0} {1}'
str345.format('Rock','Paper','Scissor')

'Scissor Rock Paper'

In [69]:
str456 = 'The {q} {b} {f}'
str456.format(b='brown',f='fox',q='quick')

'The quick brown fox'

In [70]:
## float Value precision 
## (value:width.precision f)

res = 123/456
print("The result was {r}".format(r=res))

print("The result is {r:1.1f}".format(r=res)) #precision for number of decimal places

print("The result is {r:10.1f}".format(r=res)) #width for number of white spaces

The result was 0.26973684210526316
The result is 0.3
The result is        0.3

In [71]:
print('{0:8} | {1:9}'.format('Fruit', 'Quantity'))
print('{0:8} | {1:9}'.format('Apples', 3.))
print('{0:8} | {1:9}'.format('Oranges', 10))

Fruit    | Quantity
Apples   |       3.0
Oranges  |        10

In [72]:
print('{0:<8} | {1:^8} | {2:>8}'.format('Left','Center','Right'))
print('{0:<8} | {1:^8} | {2:>8}'.format(11,22,33))

Left     |  Center  |    Right
11       |    22    |       33

In [73]:
print('{0:=<8} | {1:-^8} | {2:.>8}'.format('Left','Center','Right'))
print('{0:=<8} | {1:-^8} | {2:.>8}'.format(11,22,33))

Left==== | -Center- | ...Right
11====== | ---22--- | ......33

| Format codes |	Description             |
|---|---|
|        d	   |   for integers             | 
|        f	   | for floating point numbers |
b	| for binary numbers
o	| for octal numbers
x	| for octal hexadecimal numbers
s	| for string
e	| for floating point in exponent format

In [10]:
print("Floating point {0:1.2f}".format(345.7916732))

print("sam has {1:d} red balls and {0:d} blue balls".format(12,31))

print("In binary 4 is {0:b}".format(4))

print("In octal 14 is {0:o}".format(14))

print("In octal 14 is {0:x}".format(14))

print("My name is {0:s}".format("Geeta"))

Floating point 345.79
sam has 31 red balls and 12 blue balls
In binary 4 is 100
In octal 14 is 16
In octal 14 is e
My name is Geeta

##### f-string method

In [11]:
name = 'Raghav'
print(f'My name is {name}')

My name is Raghav

In [2]:
name = "Raghav"
print("1. count - Count of given set of characters")
print(name.count("a"))
print("--------------------------------------------------------------")
print("2. replace - Return a new string by replacing a set of characters with another set of characters, It does not modify original")
print(name.replace("a","A"))
print("--------------------------------------------------------------")
print("3. find - First index position of specific set of characters")
print(name.find("a"))
print("--------------------------------------------------------------")
print("4. startswith - Check if string starts with a specific set of characters")
print(name.startswith("Ra"))
print("--------------------------------------------------------------")
print("5. endswith - Check if string ends with a specific set of characters")
print(name.endswith("av"))
print("--------------------------------------------------------------")
print("6. isdigit - Check if all the characters in the string are numbers")
print(name.isdigit())
print("--------------------------------------------------------------")
print("7. upper - convert string into upper characters")
print(name.upper())
print("--------------------------------------------------------------")
print("8. lower - convert string into lower characters")
print(name.lower())
print("--------------------------------------------------------------")
print("9. split - Splits string according to delimiter and returns the list of substring. Space is default delimiter")
print(name.split("a"))
print("--------------------------------------------------------------")
print("10. Casteling -- First letter of each word to capital")
print("ragHav kriSHNa".title())
print("--------------------------------------------------------------")
print("11. islower - to check lowercase")
print("raghav".islower())
print("--------------------------------------------------------------")
print("12. isupper - to check uppercase")
print("raghav".isupper())
print("--------------------------------------------------------------")
print("13. isalpha - to check string contains only characters and is not empty")
print("raghav".isalpha())
print("--------------------------------------------------------------")
print("14. isalnum - to check string contains only characters or digits and is not empty")
print("raghav1".isalnum())
print("--------------------------------------------------------------")
print("15. isdecimal - to check string contains only digits and is not empty")
print("raghav".isdecimal())
print("--------------------------------------------------------------")
print("16. strip - to replace whitespace from string")
name = "  raghav krishna  "
print(len(name))
new = name.strip()
print(new)
print(len(new))
print("--------------------------------------------------------------")
print("17. join - to append new letters to string")
str = ("raghav","krishna")
print("_".join(str))

1. count - Count of given set of characters
2
--------------------------------------------------------------
2. replace - Return a new string by replacing a set of characters with another set of characters, It does not modify original
RAghAv
--------------------------------------------------------------
3. find - First index position of specific set of characters
1
--------------------------------------------------------------
4. startswith - Check if string starts with a specific set of characters
True
--------------------------------------------------------------
5. endswith - Check if string ends with a specific set of characters
True
--------------------------------------------------------------
6. isdigit - Check if all the characters in the string are numbers
False
--------------------------------------------------------------
7. upper - convert string into upper characters
RAGHAV
--------------------------------------------------------------
8. lower - convert string into lower characters
raghav
--------------------------------------------------------------
9. split - Splits string according to delimiter and returns the list of substring. Space is default delimiter
['R', 'gh', 'v']
--------------------------------------------------------------
10. Casteling -- First letter of each word to capital
Raghav Krishna
--------------------------------------------------------------
11. islower - to check lowercase
True
--------------------------------------------------------------
12. isupper - to check uppercase
False
--------------------------------------------------------------
13. isalpha - to check string contains only characters and is not empty
True
--------------------------------------------------------------
14. isalnum - to check string contains only characters or digits and is not empty
True
--------------------------------------------------------------
15. isdecimal - to check string contains only digits and is not empty
False
--------------------------------------------------------------
16. strip - to replace whitespace from string
18
raghav krishna
14
--------------------------------------------------------------
17. join - to append new letters to string
raghav_krishna

### Example

In [76]:
airline = "AL1"
src = "Satara"
dest = "Delhi"
number = 101
ticket_number = []
for i in range(5):
    num = 101
    number = num + i
    ticket_number.append(airline +":"+ src[0:3]+":" + dest[0:3]+":" + str(number))
print(ticket_number)

TypeError: 'tuple' object is not callable

### 4. Set
* unordered group of values with no duplicate entries
* created by using keyword set or {}
* used to eliminate duplicate values in the list

In [77]:
#creating set
set1 = {500,520,600,345,520,634,600,500,200,200}
print(set1)
print("Duplicate values eliminated")

#Define a list
list = [500,520,600,345,520,634,600,500,200,200]
print(list)
print("Eliminating duplicate values from a list")
unique_val = set(list)
print(unique_val)

#common elements in sets
setA = {0,1,2,3,4,5,6,7,8,9}
setB = {2,3,4,5,6}
setC = setA & setB
print(setC)

#Elements that are only in set A
setD = setA - setB
print(setD)

#Merges (union) of elements of set A and set B
setE = setA | setB
print(setE)

{500, 520, 345, 634, 600, 200}
Duplicate values eliminated
[500, 520, 600, 345, 520, 634, 600, 500, 200, 200]
Eliminating duplicate values from a list
{520, 200, 500, 600, 345, 634}
{2, 3, 4, 5, 6}
{0, 1, 7, 8, 9}
{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

In [78]:
#subset
output1 = setA < setB
print(output1)

output2 = setA.issubset(setB)
print(output2)

#superset
output3 = setA > setB
print(output3)

output4 = setA.issuperset(setB)
print(output4)

False
False
True
True

In [79]:
#set to list
my_set = {"A","B",4,6}
print(my_set)

my_list = list(my_set)
print(my_list)

{'A', 'B', 4, 6}

TypeError: 'list' object is not callable

### 5. Dictionary
* To store an unordered collection of key-value pairs
* Key should be unique and can be of any data type
* mutable

In [80]:
#Creating a dictionary 
dict = {1:"Apple",2:"Banana",3:"Cat",4:"Dog"}
print(dict)

#Accessing the elements
print(dict[1])

#Iterating through the dictionary
for key,value in dict.items():
    print(key,",",value)

{1: 'Apple', 2: 'Banana', 3: 'Cat', 4: 'Dog'}
Apple
1 , Apple
2 , Banana
3 , Cat
4 , Dog

#### Defaultdict 
Defaultdict is a container like dictionaries present in the module collections. Defaultdict is a sub-class of the dictionary class that returns a dictionary-like object. The functionality of both dictionaries and defaultdict are almost same except for the fact that defaultdict never raises a KeyError. It provides a default value for the key that does not exists.

Syntax: defaultdict(default_factory)

Parameters:  

* default_factory: A function returning the default value for the dictionary defined. If this argument is absent then the dictionary raises a KeyError.

In [1]:
# Python program to demonstrate 
# defaultdict 
  
  
from collections import defaultdict 
  
  
# Function to return a default 
# values for keys that is not 
# present 
def def_value(): 
    return "Not Present"
      
# Defining the dict 
d = defaultdict(def_value) 
d["a"] = 1
d["b"] = 2
  
print(d["a"]) 
print(d["b"]) 
print(d["c"])

1
2
Not Present

#### Counter

Counter is a sub-class that is used to count hashable objects. It implicitly creates a hash table of an iterable when invoked.

In [4]:
# import counter class from collections module
from collections import Counter
 
# Creation of a Counter Class object using 
# string as an iterable data container
x = Counter("geeksforgeeks")

# printing the elements of counter object
for i in x.elements():
    print ( i, end = " ")
    
    
print(x)

g g e e e e k k s s f o r Counter({'e': 4, 'g': 2, 'k': 2, 's': 2, 'f': 1, 'o': 1, 'r': 1})

### ALL and ANY fn

Python has an all function, which takes a list and returns True precisely when every
element is truthy, and an any function, which returns True when at least one element
is truthy:

In [5]:
print(all([True, 1, { 3 }])) # True
print(all([True, 1, {}])) # False, {} is falsy
print(any([True, 1, {}])) # True, True is truthy
print(all([])) # True, no falsy elements in the list
print(any([])) # False, no truthy elements in the list

True
False
True
True
False

### Proper divisors list

In [81]:
def proper_divisors(num):
    divisors=[]
    for i in range(1,num):
        if num%i==0:
            divisors.append(i)
    return divisors

proper_divisors(100)

[1, 2, 4, 5, 10, 20, 25, 50]

### Fibonnacci number list

In [82]:
def fibonnaci(n):
    list_fib = []
    n1 = 0
    n2 = 1
    if n1 < 0:
        print("Invalid input")
    elif n == n1:
        list_fib.append(n1)
    elif n == n2:
        list_fib.append(n2)
    else: 
        for i in range(2,n):
            num = n1 + n2
            n1 = n2
            n2 = num
            list_fib.append(n2)        
        print(list_fib)

In [83]:
fibonnaci(10)

[1, 2, 3, 5, 8, 13, 21, 34]

### Next 15 leap years starting from a given year

In [84]:
def leap_year(year):
    leapyears = []
    for i in range(1,16):
        year += 4
        leapyears.append(year)
    print(leapyears)
    
leap_year(2004)

[2008, 2012, 2016, 2020, 2024, 2028, 2032, 2036, 2040, 2044, 2048, 2052, 2056, 2060, 2064]

### Run length encoding string

In [85]:
# rle-encode.py

def encode(message):
    encoding = ''
    prev_char = ''
    count = 1

    if not message: return ''

    for char in message:
        if char != prev_char:
            if prev_char:
                encoding += str(count) + prev_char
            count = 1
            prev_char = char
        else:
            count += 1
    else:
        encoding += str(count) + prev_char
        return encoding
encode('AAAADDDDFFFGGXX')

TypeError: 'tuple' object is not callable

### English-Sweedish glossary

In [86]:
glossary = {"merry":"god","christmas":"jul","and":"och","happy":"gott","new":"nytt","year":"ar"}
def translate(b_dict,*list_words):
    sweedish = ""
    for words in b_dict:
        if words == list_words:
            sweedish = sweedish + " " + b_dict[words]
    print(sweedish)
         
translate(glossary,"merry","christmas")

## Modules & Packages
* In python, the code organization and reusability is managed through modules and packages.
* A module is python file with a /py extension.
* A package is a folder which contains a file whose name is __init__.py
* A package can store many python modules/files in it.
* The import statement is used to load a library module into the program memory.
* if the module is under the folder then we have to create empty file in that folder like \_\_init_\_\.py
* Ways to import packages -
1. from packagename import modulename
2. import packagename.modulename
* Packages naming conflict
Consider a scenario where two modules have the same name which are present in different package and both of them have the same
function 'add' \
Flights -> Manage.py -> add() \
Employees -> Manage.py -> add() \
To avoid naming conflicts during import, we can use one of the below techniques:
1. import Flights.Manage \
   import Employees.manage \
   Flights.Manage.add() \
   Employees.Manage.add() 

2. from Flights import Manage as FManage \
   from Employees import Manage as Emanage \
   Fmanage.add() \
   Emanage.add() 

3. from Flights.Manage import add as add1 \
   from Employees.Manage import add as add2 \
   add1() \
   add2()  
   
### **Some built-in modules in python -**
1. math for math utilities
2. re for regular expressions
3. json to work with json
4. datetime to work with dates
5. sqlite3 to work with sqlite
6. os to work with OS utilities
7. random for random number generations
8. statistics for statistics utilities
9. request to perform HTTP network requests 
10. http to create HTTP servers
11. urllib to manage urls

#### 1. Random module
* helps in generating random numbers
* The code below generates random numbers between x and y-1 (both inclusive) using the randrange function of the random module.

In [87]:
import random
x=10
y=20
print(random.randrange(x,y))

15

#### 2. Math module

In [88]:
import math
num1 = 234.01
num2 = 6
num3 = -27.01

print("The smallest integer greater than or equal to ,",num1,":",math.ceil(num1))
print("The largest integer smaller than or equal to ,",num1,":",math.floor(num1))
print("The factorial of ,", num2, ":", math.factorial(num2))
print("The absolute value of ", num3,":",math.fabs(num3))

The smallest integer greater than or equal to , 234.01 : 235
The largest integer smaller than or equal to , 234.01 : 234
The factorial of , 6 : 720
The absolute value of  -27.01 : 27.01

#### 3. String functions

In [89]:
## .format method

num_of_papers = 10
cost_printing_per_paper = 3
Total_cost = num_of_papers*cost_printing_per_paper

template = """"Number of papers used are {} and cost of printing per paper is {} So money required to print is {}"""

In [90]:
template.format(num_of_papers, cost_printing_per_paper, Total_cost)

'"Number of papers used are 10 and cost of printing per paper is 3 So money required to print is 30'

#### 4. List functions

In [18]:
num_list = [10,20,30,40,50]

print("1. append - Add element to end of list")
num_list.append(60)
print(num_list)
print("2. index - Index position of the element, multiple occurrence of element returns the index of first occurrence,\n Throws ValueError if element is not present")
print(num_list.index(10))
print("3. insert - Insert an element at given position")
num_list.insert(2,25)
print(num_list)
print("4. remove - Remove the first occurring element in list")
num_list.remove(30)
print(num_list)
print("5. pop - removes and returns the element at given index position from  the list")
print(num_list.pop(3))
print("6. sort - Sort the list in ascending order")
num_list.sort()
print(num_list)

num_list.sort(reverse=True)
print("list in descending order ", num_list)
print("sort function sorts the capital letter words first and then small letters")

print("You can do as below to sort the list by ignoring case")
list1 = ['asrf','Afvdfdf','fvdfvf',"bfbeb","GDsfrgeeeeeeeee"]
list1.sort(key=str.lower)
print(list1)

print("7. reverse - reverses the list")
num_list.reverse()
print(num_list)
print("8. extend - to add a list to list")
num_list.extend([5,6])
print(num_list)

print("Or you can do like this")
num_list += [10,10]
print(num_list)

print("9. to insert multiple items in list")
num_list[1:1] = ['fvsdfvs','fddfvf']
print(num_list)

print("10. to make copy of list")
copy_list = list1[:]
print(copy_list)

print("11. sorted -- used to sort the list without changing original list")
list2 = ['vfd','gfv','Ghs','TEaf']
print(sorted(list2,key=str.lower))
print(list2)

1. append - Add element to end of list
[10, 20, 30, 40, 50, 60]
2. index - Index position of the element, multiple occurrence of element returns the index of first occurrence,
 Throws ValueError if element is not present
0
3. insert - Insert an element at given position
[10, 20, 25, 30, 40, 50, 60]
4. remove - Remove the first occurring element in list
[10, 20, 25, 40, 50, 60]
5. pop - removes and returns the element at given index position from  the list
40
6. sort - Sort the list in ascending order
[10, 20, 25, 50, 60]
list in descending order  [60, 50, 25, 20, 10]
sort function sorts the capital letter words first and then small letters
You can do as below to sort the list by ignoring case
['Afvdfdf', 'asrf', 'bfbeb', 'fvdfvf', 'GDsfrgeeeeeeeee']
7. reverse - reverses the list
[10, 20, 25, 50, 60]
8. extend - to add a list to list
[10, 20, 25, 50, 60, 5, 6]
Or you can do like this
[10, 20, 25, 50, 60, 5, 6, 10, 10]
9. to insert multiple items in list
[10, 'fvsdfvs', 'fddfvf', 20, 25, 50, 60, 5, 6, 10, 10]
10. to make copy of list
['Afvdfdf', 'asrf', 'bfbeb', 'fvdfvf', 'GDsfrgeeeeeeeee']
11. sorted -- used to sort the list without changing original list
['gfv', 'Ghs', 'TEaf', 'vfd']
['vfd', 'gfv', 'Ghs', 'TEaf']

#### 5. Dictionary functions

In [92]:
crew_details = {"Pilot":"Kumar","Co-pilot":"Raghav","Head-Strewardess":"Malini","Stewardess":"Mala"}

print("1. get() - Return the value of given key. if it is not found then returns none")
print(crew_details.get("Co-pilot"))

print("2. update - updates the dictionary with the given key-value pairs,\n if key-value pairs is already existing it will be overwritten o.w. it will be addes to dictionary" )
crew_details.update({"Flight Attendant":"Jane","Co-pilot":"Henry"})
print(crew_details)

print("3. pop() - to show the value of key given and return the output by deleting it")
print(crew_details.pop("Pilot"))
print(crew_details)

print("4. popitem() - show the key-value pair deleted")
print(crew_details.popitem())

print("If we don't specify key in pop or popitem then it will delete and return last item")

print("5. Keys and values in dict")
print(list(crew_details.items()))
print(list(crew_details.keys()))
print(list(crew_details.values()))

print("6. del - to delete items")
del crew_details['Stewardess']
print(crew_details)

print("7. copy() - copy the dict")
crew_details_copy = crew_details.copy()
print(crew_details_copy)

1. get() - Return the value of given key. if it is not found then returns none
Raghav
2. update - updates the dictionary with the given key-value pairs,
 if key-value pairs is already existing it will be overwritten o.w. it will be addes to dictionary
{'Pilot': 'Kumar', 'Co-pilot': 'Henry', 'Head-Strewardess': 'Malini', 'Stewardess': 'Mala', 'Flight Attendant': 'Jane'}
3. pop() - to show the value of key given and return the output by deleting it
Kumar
{'Co-pilot': 'Henry', 'Head-Strewardess': 'Malini', 'Stewardess': 'Mala', 'Flight Attendant': 'Jane'}
4. popitem() - show the key-value pair deleted
('Flight Attendant', 'Jane')
If we don't specify key in pop or popitem then it will delete and return last item
5. Keys and values in dict

TypeError: 'list' object is not callable

#### 6. Regular expressions
* Used to check and extract relevant portions of a string based on a pattern and modify if required
* Python has a module named as re for regular expressions
* Two commonly used methods in re module are:
1. search - used to find a pattern
2. sub - used to perform a substitution

In [93]:
import re
if(re.search(r"Air","Airline")!=None):
    print("pattern found")
else:
    print("pattern not found")

pattern found

In [94]:
flight_details = "Flight Savana Airlines a2134"
print(flight_details)
print(re.sub(r"Flight",r"Plane",flight_details))

Flight Savana Airlines a2134
Plane Savana Airlines a2134

##### Regular expressions - Metacharacters and uses

**1** \
Metacharacter - . \
Usage - Used to match one occurrence of any character \
Requirement - To search the pattern having two characters in between A and l in the given string "Aopline" \
Remarks - "." stands for any character if any two characters are there between A and l, then the pattern has matched

In [95]:
#Solution
if(re.search(r"A..l","Aopline")!=None):
    print("Pattern found")
else:
    print("Pattern not found")

Pattern found

**2** \
Metacharacter - \d \
Usage - Used to match one occurrence of any digit from 0-9 \
Requirement - To search a digit between two characters A and l in the given string "A2line" \
Remarks - "\d" checks for digit. if any digit found between A and l, then the pattern has matched

In [96]:
#Solution
if(re.search(r"A\dl","A2line")!=None):
    print("Pattern found")
else:
    print("Pattern not found")

Pattern found

**3** \
Metacharacter - * \
Usage - Used to match zero or more occurrence of previous character \
Requirement - To check if a number is found 0 or n times after A in the given string \
Remarks - "*" checks if a number found 0 or n times after A

In [97]:
#Solution
if(re.search(r"A\d*","A2234line")!=None):
    print("Pattern found")
else:
    print("Pattern not found")

Pattern found

**4** \
Metacharacter - + \
Usage - Used to match one or more occurrence of previous character \
Requirement - To check if a number is found 1 or n times after A in the given string \
Remarks - "+" checks if a number found 1 or n times after A

In [98]:
#Solution
if(re.search(r"A\d+","A2234line")!=None):
    print("Pattern found")
else:
    print("Pattern not found")

Pattern found

**5** \
Metacharacter - ? \
Usage - Used to match zero or one occurrence of previous character \
Requirement - To check if a number is found 0 or 1 time after A in the given string \
Remarks - "?" checks if a number found 0 or 1 times after A

In [99]:
#Solution
if(re.search(r"A\d?","A2234line")!=None):
    print("Pattern found")
else:
    print("Pattern not found")

Pattern found

**6** \
Metacharacter - {n} \
Usage - Used to match exactly n occurrence of previous character \
Requirement - To check if a 3 digits present after A in the given string \
Remarks - "{n}" checks if preceding character appears exactly n times

In [100]:
#Solution
if(re.search(r"A\d{3}i","A224irline")!=None):
    print("Pattern found")
else:
    print("Pattern not found")

Pattern found

**7** \
Metacharacter - [] \
Usage - Used to match one occurrence of any character present within square bracket\
Requirement - To search for a number between 3 and 6 between A and i in given string \
Remarks - "[]" does a single character substitution we can specify a sequence of values if any value found pattern is matched

In [101]:
#Solution
if(re.search(r"A[3-6]i","A4irline")!=None):
    print("Pattern found")
else:
    print("Pattern not found")

Pattern found

**8** \
Metacharacter - ^ \
Usage - Used to match a pattern at the beginning of string \
Requirement - To check if the given string is starting with A \
Remarks - "^" checks if a pattern is at the beginning of the string

In [102]:
#Solution
if(re.search(r"^A","A4irline")!=None):
    print("Pattern found")
else:
    print("Pattern not found")

Pattern found

**9** \
Metacharacter - $ \
Usage - Used to match a pattern at the end of string \
Requirement - To check if the given string is end with e \
Remarks - "^" checks if a pattern is at the ending of the string

In [103]:
#Solution
if(re.search(r"e$","A4irline")!=None):
    print("Pattern found")
else:
    print("Pattern not found")

Pattern found

**10** \
Metacharacter - \w \
Usage - Used to match a word character which includes alphabets (a-zA-Z), digits(0-9) and '_' \
Requirement - To check whether the last character is alphanumeric or not \
Remarks - "\w" checks for a-z,A-Z,0-9,'_'

In [104]:
#Solution
if(re.search(r"\w$","A4irline")!=None):
    print("Pattern found")
else:
    print("Pattern not found")

Pattern found

**11** \
Metacharacter - \s \
Usage - Used to match a single space or sequence of spaces including \t and \n \
Requirement - To check for the space after "Air" in given string \
Remarks - "\s" indicates a space

In [105]:
#Solution
if(re.search(r"Air\s","Airline")!=None):
    print("Pattern found")
else:
    print("Pattern not found")

Pattern not found

**12** \
Metacharacter - | \
Usage - Used to match any pattern which is on either side of it \
Requirement - To search for the pattern "Hell" or "Fell" in the given string \
Remarks - "|" acts like 'or' operator

In [106]:
#Solution
if(re.search(r"Hell|Fell","Fellow")!=None):
    print("Pattern found")
else:
    print("Pattern not found")

Pattern found

### Lambda functions
* A lambda function is a small anonymous function.
* A lambda function can take any number of arguments, but can only have one expression.

**Syntax:**

lambda arguments: function

In [107]:
x = lambda x : x**2

print(x(5))

25

### map() function

* used to map a list to a function and get output as a list

In [108]:
l1 = [2,4,8]

def square(number):
    return number ** 2

result = map(square, l1)

print(list(result))

TypeError: 'list' object is not callable

### filter() function

* used to filter the elements in list using function

In [3]:
l2 = [2,5,10]

def iseven(num):
    return num % 2 == 0

list(filter(iseven, l2))

[2, 10]

### reduce() fn

* used to reduce the code

In [110]:
from functools import reduce

d1 = [("food",120),
     ("vfs",80)]

result = reduce(lambda a,b : a[1]+b[1],d1)

print(result)

200

### Recursion

In [111]:
def factorial(num):
    if num == 1 : return 1
    return num * factorial(num-1)

print(factorial(9))

362880

### Decorators

* Decorators allow us to wrap another function in order to extend the behaviour of the wrapped function, without permanently modifying it.


### Docstrings

* used for commenting

ex: 
1. """ comment """ -- single line comment
2. """ \
            comment 
            comment 
   """" -- multiline comment

### Annotations 

1. Annotations for simple parameters : The argument name is followed by ‘:’ which is then followed by the expression. Annotation syntax is shown below.
**def foobar(a: expression, b: expression = 5):**

2. Annotations for excess parameters : Excess parameters for e.g. *args and *\*kwargs, allow arbitrary number of arguments to be passed in a function call. Annotation syntax of such parameters is shown below.
**def foobar(*args: expression, *kwargs: expression):**

3. Annotations for nested parameters : Nested parameters are useful feature of python 2x where a tuple is passed in a function call and automatic unpacking takes place. This feature is removed in python 3x and manual unpacking should be done. Annotation is done after the variable and not after the tuple as shown below.
**def foobar((a: expression, b: expression), (c: expression, d: expression)):**

4. Annotations for return type : Annotating return type is slightly different from annotating function arguments. The ‘->’ is followed by expression which is further followed by ‘:’. Annotation syntax of return type is shown below.
**def foobar(a: expression)->expression:**

### List compression

In [112]:
num = [1,2,3,4]

res = [n**2 for n in num]

print(res)

[1, 4, 9, 16]

### File Handling in Python
* File can be accessed from a python for reading the data from a file and writting the data into a file.

#### Opening a file in python
* open() function returns a file object using which other file operations like reading, writting and closing the file are done.
* Syntax: file_object = open(file_name_path, [, access_mode])
  Where, file_name_path - Path of the file to be opened
  access+mode - Mode in which the file has to be opened which is optional, if not specified default value will be read.
  file_object - Object returned by open method which is used for further file operations
 
* **Access_mode:**
1. r - Specified file is opened in read mode, if the file exists. O.w. if the file does not exist it will throw an error.
2. w - Specified file is opened in write mode, if the file exists.then the content in the file is truncated o.w. if the file does not exist it will create a new file and open it for writting.
3. a - Specified file is opened in write mode, if the file exists.then the content in the file is preserved. o.w. if the file does not exist it will create a new file and open it for appending.

* Ex: file = open("data.txt","r")

#### Closing a file
* close() function closes a file
* Syntax: file_object.close()
* Ex: file.close()

#### Reading a single line:
* Python provides readline() function to read the single line from the file at a time. 
* When the end of file reached it returns an empty string.
* Syntax: var_name = file_object.readline()
* Example:

In [113]:
file = open("data.txt","w") #file created
file.write("this is first line \nyou are reading a second line \nnow you are reading the third line") #data inserted
file = open("data.txt","r") #file in read mode only
line1 = file.readline() #data readed line by line
print(line1,end=' ')
line2 = file.readline()
print(line2,end=' ')
line3 = file.readline()
print(line3,end=' ')
file.close() # file closed

this is first line
 you are reading a second line
 now you are reading the third line

#### reading the content of a file into a string:
* Python provides read(size) function to read the specified size(number) of characters from the file as a string into a variable.
* if not specified then entire content of file is read as string into a variable.
* Syntax: var_name = file_object.read(size)

In [114]:
print("----------------Output with specified size----------------")
file = open("data.txt","r")
data = file.read(10)
print(data)
file.close()

print("----------------Output without specifying size---------------------")
file = open("data.txt","r")
data = file.read()
print(data)
file.close()

----------------Output with specified size----------------
this is fi
----------------Output without specifying size---------------------
this is first line
you are reading a second line
now you are reading the third line

#### Iterating through file object read the content line by line:

In [115]:
file = open("data.txt","r")
for line in file:
    print(line,end = ' ')
file.close()

this is first line
 you are reading a second line
 now you are reading the third line

#### Writting into file
* Python provides write(data) function to write the given data which is a string into the file and it returns the number of characters written into file.
* Syntax: var=file_object.write(data)
  Where, data is the content which is a string to be written into file
  var is variate assigned with number characters written into the file
* example:

In [116]:
file1 = open("data.txt","r")
data = file1.read()
print("before writting:")
print(data)
file1.close()

file1 = open("data.txt","w")
num = file1.write("this new first line written\n")
num1 = file1.write("this new second line written\n")
print("num:",num)
print("num1:",num1)
file1.close()

file1 = open("data.txt","r")
data = file1.read()
print("after writting:")
print(data)
file1.close()

before writting:
this is first line
you are reading a second line
now you are reading the third line
num: 28
num1: 29
after writting:
this new first line written
this new second line written

#### Getting the current position of the file object pointer
* Python provides tell() method to get current position which is pointed by the object within the file.
* Syntax: file_object.tell()
* Example:

In [117]:
fhr = open("data.txt","r")
cur_pos = fhr.tell()
print(cur_pos)
data = fhr.readline()
print(data)

cur_pos = fhr.tell()
print(cur_pos)
data = fhr.readline()
print(data)

fhr.close()

0
this new first line written

29
this new second line written

#### Navigating the file object pointer
* Python provides seek() function to navigate the file object pointer to the required position specified
* Syntax: file_object.seek(offset,[whence])
  where,
  file_object indicates the file object pointer to be navigated.
  offset indicates which position the file object pointer is to be navigated
  if offset is,
  * positive navigation is done in forward direction
  * negative navigation is done in backward direction
  whence represent reference point for navigating the file object pointer. whence is optional, if not specified value is 0
  * If whence value is =
  1. 0, navigation will take the reference of beginning of file (absolute positioning)
  2. 1, navigation will take the reference of current position (relative positioning) of the file object pointer
  3. 2, navigation will take the reference of end of file (relative positioning)
* If you are working with is a text file, then the access of the file should be 'rb+' (which open files for reading and writting in binary format) o.w. relative positioning will misbehave.

In [118]:
fhr = open("data.txt","rb+")
print(fhr.tell())
fhr.seek(12) #navigates to 12th position from beginning of the file
print(fhr.tell())
fhr.seek(3,1) #navigates to 3rd position from current position of the file object position
print(fhr.tell())
fhr.seek(-3,2) #navigates to 3rd position from end of the file in backward direction
print(fhr.tell())
fhr.close()

0
12
15
56

#### File object attributes
* file_object closed: closed attribute returns true if the file is closed else it will return false
* file_object mode: mode attribute returns mode in which the file has been opened
* file_object name: name attribute returns the name of the file opened

In [119]:
fhr = open("data.txt","rb+")
print("file name:",fhr.name)
print("access mode:", fhr.mode)
print("closed: ",fhr.closed)
fhr.close()
print("after closing the file closed:",fhr.closed)

file name: data.txt
access mode: rb+
closed:  False
after closing the file closed: True

### Exception handling
* Sometimes the program may misbehave or terminate/crash due to some unexpected events during the execution of program. These unexpected events is called as **exceptions** and the process of handling them to avoid misbehavior or crashing the program is called as **exception handling**.
* In python we can create try and except block of code to handle exceptions
* If any exception occurs in the try block it will jump to except block of code.
* Once the except block is executed, the code continues to execute other statements outside except block.

In [120]:
def calculate_expd(list_of_expd):
    total=0
    try:
        for expenditure in list_of_expd:
            total+=expenditure
        print(total)
    except:
        print("some error occurred")
    print("Returning back from function")
    
list_of_values = [100,200,300,"400",500]
calculate_expd(list_of_values)

some error occurred
Returning back from function

#### Built-in exception in python
1. ZeroDivisionError - When a value is divided by 0 \
Ex: num_list=[]\
    total = 0\
    avg = total/len(num_list)

2. TypeError - When we try to do an operation with incompatible data types\
Ex: total=10\
    total+="20"
    
3. NameError - When we try to access a variable which is not defined\
Ex: avg=total/10 where total is not defined

4. IndexError - When we try to access an index value which is out of range\
Ex: num_list = [1,2,3,4]\
    value = num_list[4]
   
5. ValueError - When we use a valid data type for an argument of a built-in function but passes an invalid value for it\
Ex. #string is a valid data type for int() but the value "A" is invalid as "A" can't be converted into int. \
    value = "A"\
    num = int(value)

Python allows us to handle different exceptions that can occur separately. i.e. you can have different action or message for every unique exception that occurs.

In [121]:
def calculate_expd1(list_of_expd):
    total=0
    try:
        for expenditure in list_of_expd:
            total+=expenditure
        print("Toal: ",total)
        avg = total/num_values
        print("Average: ",avg)
    except ZeroDivisionError:
        print("Devide by zero error")
    except TypeError:
        print("Wrong data type")
    except:
        print("some error occurred")
    
list_of_values = [100,200,300,"400",500]
num_values = 0
calculate_expd1(list_of_values)

Wrong data type

* Note:
1. Default block is the one without any type mentioned
2. If an error occurs and the matching except block is found, then that is executed.
3. If an error occurs and the matching except block is not found, it executes the except block.
4. If an error occurs and the matching except block is not found and if the default except block is also not found, the code crashes.
5. The default except block, if present should be the last except block, o.w. it will result in a runtime error.

#### Exception handling inside a funtion
* If an exception occurs inside a function and if the exception is not caught inside it, then the exception is transferred to the function call. 
* We have another opportunity to catch it, if we write function call inside another try and except block

In [122]:
def calculate_sum(list_of_expd):
    total=0
    try:
        for expenditure in list_of_expd:
            total+=expenditure
        print("Total: ",total)
        avg=total/no_values
        print("Average:",avg)
    except ZeroDivisionError:
        print("Divide by zero error")
    except TypeError:
        print("Wrong data type")

try:
    list_of_values = [100,200,300,400,500]
    num_values = len(list_of_values)
    calculate_sum(list_of_values)
except TypeError:
    print("Name error occurred")
except:
    print("some error occurred")

Total:  1500
some error occurred

#### finally
* Sometimes in programming we need to execute some code irrespective of whether the primary program logic itself proceed or fails to do its job. 
* In python we can achieve this using finally block. A finally block of statement is an optional part of the try-except statements. 
* A code written inside the finally block will **ALWAYS** be executed
* finally block is majorly used to close the database connections in the programs which involves database connectivity

In [123]:
balance = 1000
amount = "3000s"

def take_card():
    print("Take the card out of the ATM")
try:
    if balance>=int(amount):
        print("withdraw")
    else:
        print("Invalid amount")
except TypeError:
    print("Type error occurred")
except ValueError:
    print("Value error occurred")
except:
    print("Some error occurred")
finally:
    take_card()

Value error occurred
Take the card out of the ATM

## Usefule operators in python

In [1]:
# range function

for i in range(0,11,2):
    print(i)

0
2
4
6
8
10

In [2]:
#enumerate function - used for getting output with index

for i in enumerate('abcde'):
    print(i)

(0, 'a')
(1, 'b')
(2, 'c')
(3, 'd')
(4, 'e')

In [3]:
for (index,value) in enumerate('abcde'):
    print(index)
    print(value)
    print('\n')

0
a


1
b


2
c


3
d


4
e

In [4]:
#zip function - used to loop for two lists 
list1 = [1,2,3]
list2 = ['a','b','c']

for item in zip(list1,list2):
    print(item)

(1, 'a')
(2, 'b')
(3, 'c')

In [5]:
#in operator - used to check value present or not

x = 2

x in [1,2,3]

True

#### List comprehension

In [6]:
# my_list = [item/item_operation for item in object]

my_list = [x for x in 'word']
print(my_list)

['w', 'o', 'r', 'd']

In [8]:
#nested loop
my_list = [x*y for x in [1,2,3] for y in [4,5,6]]
my_list

[4, 5, 6, 8, 10, 12, 12, 15, 18]